extends layout

block content
  .container
    p.text
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sint expedita quos eos
      | iusto asperiores qui minus provident? Tenetur esse pariatur natus quod aperiam ipsum,
      | in vel quo suscipit maiores.
