extends layout
block content
  h2 This is my langing page
  p
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sint expedita quos eos
    | iusto asperiores qui minus provident? Tenetur esse pariatur natus quod aperiam ipsum

  button#generateRandom.button.is-primary.is-large Click here
