doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='google-site-verification', content='8NjtlQLdpuXinFwB0zj0luvepr5x_C1p9tAgFFaq2Dk')
    link(rel='stylesheet', href=' https://yarnpkg.com/en/package/normalize.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')
    link(rel='stylesheet', href='css/main.css')
    link(href='https://clipart.info/images/ccovers/1484942375ios-emoji-cow-face.png', rel='icon')
    title= title
  body
    include includes/mixins
    +header
    section.wrapper
      block content
    +footer
    script(src='bundle.js', async='async')
