$grey: #404040;

.hero {
  background-image: url("../img/green-leaves-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .left-wrapper {
    float: left;

    .title,
    .subtitle {
      color: $grey;
    }
  }

  .right-wrapper {
    float: right;

    .navigation {
      display: flex;
      position: absolute;
      right: 0;
      top: 25px;

      .navigation-link a {
        text-align: center;
        display: block;
        margin: 0 15px;
        font-weight: bold;
        color: #444;

        &:hover {
          color: tomato;
        }

        &.active {
          border-bottom: 2px solid tomato;
          color: tomato;
        }
      }
    }
  }
}

section.wrapper {
  padding: 55px 0;
  min-height: 55vh;
  background-color: $grey;

  #popup {
    display: none;
  }

  h1.title,
  h2.title,
  h3.title,
  h4.title,
  p.text {
    font-weight: 300;
    color: beige;
  }

  h1.title {
    font-size: 2.25rem;
  }

  h2.title {
    font-size: 2rem;
  }

  h3.title {
    font-size: 1.825rem;
  }

  h4.title {
    font-size: 1.5rem;
  }

  p.text,
  ul>p.text {
    font-size: 1.115rem;
  }

  ul {
    margin-left: 1rem;
    color: beige;
    list-style: inside;
  }

  samp {
    font-weight: 100;
  }

  pre.json {
    border-radius: 5px;
    margin: 0 auto;
    width: 550px;
  }

  textarea#randomOutput {
    margin: 25px 0;
  }

  select#howManyWords {
    margin-right: 7.5px;
  }

  button#generateRandom {
    margin: 0 7.5px;
    background-image: url("../img/green-leaves-banner.png");
    background-size: 1200px;
    color: $grey;
    font-weight: bold;
  }

  button#copyToClipboard {
    margin-left: 7.5px;
    color: $grey;
    font-weight: bold;
  }

}

footer.footer {
  background-image: url("../img/green-leaves-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  p {
    color: $grey;
  }
}
